<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Accueil - PCNC Fusion Django</title>
</head>
<body>
    {% include 'academics/_top_nav.html' %}
    <h1>PCNC Fusion Django est prêt ✅</h1>
    <p><a href="/calendriers/classes/">Voir les calendriers par classes</a></p>
    <p><a href="/etudiants/">Voir la liste des étudiants</a></p>
    <p><a href="/classes/">Voir la liste des classes</a></p>
    <p><a href="/cours/">Voir la liste des cours</a></p>
    <p><a href="/presences/">Voir la liste des présences</a></p>
    <p><a href="/presences/saisie/">Saisie des présences par cours</a></p>
    <p><a href="/presences/vue/">Vue des présences par cours</a></p>
    <p><a href="/tuteurs/">Voir la liste des tuteurs</a></p>
</body>
</html>
